<!DOCTYPE html>
<html>
  <head>
    <title>第一週 - 從函式拆解認識設計模式</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="images/favicon.ico" rel="shortcut icon" />
    <meta charset="UTF-8" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- 導入 Vue 方法 1 -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row py-3">
          <div class="col-md-6">
            <h2>產品列表</h2>
            <table class="table table-hover mt-4">
              <thead>
                <tr>
                  <th width="150">產品名稱</th>
                  <th width="120">原價</th>
                  <th width="120">售價</th>
                  <th width="150">是否啟用</th>
                  <th width="120">查看細節</th>
                </tr>
              </thead>
              <tbody>
                <!-- 35 行的 :key 前方有多了一個 :，可以移除 -->
                <!-- :key 放入的值建議是唯一值，例如 id 等，目前是使用 category，若之後新增其他產品時，就會有多個產品是相同類別 -->
                <tr v-for="item in products" :key="item.title">
                  <td width="150">{{ item.category }}</td>
                  <td width="120">{{ item.origin_price}}</td>
                  <td width="120">{{ item.price }}</td>
                  <td width="150">
                    <span v-if="item.is_enabled" class="text-success"
                      >啟用</span
                    >
                    <span v-else>未啟用</span>
                  </td>
                  <td width="120">
                    <button
                      v-on:click="viewOrderDetail(item)"
                      type="button"
                      class="btn btn-primary"
                    >
                      查看細節
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>目前有 <span>{{ products.length }}</span> 項產品</p>
          </div>
          <div class="col-md-6">
            <h2>單一產品細節</h2>
            <template v-if="Object.keys(currentOrder).length> 0">
              <div class="card mb-3">
                <img
                  :src="currentOrder.imageUrl"
                  class="card-img-top primary-image"
                  alt="主圖"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ currentOrder.title }}
                    <span class="badge bg-primary ms-2"
                      >{{ currentOrder.category }}</span
                    >
                  </h5>
                  <p class="card-text">
                    商品描述：{{ currentOrder.description }}
                  </p>
                  <p class="card-text">商品內容：{{ currentOrder.content }}</p>
                  <div class="d-flex">
                    <p class="card-text me-2">{{ currentOrder.price}}</p>
                    <p class="card-text text-secondary">
                      <del>{{ currentOrder.origin_price}}</del>
                    </p>
                    元 / {{ currentOrder.unit }}
                  </div>
                </div>
              </div>
              <template
                v-for="(item, index) in currentOrder.imagesUrl"
                :key="index"
              >
                <img :src="item" alt="" class="images m-2" />
              </template>
            </template>
            <p class="text-secondary" v-else>請選擇一個商品查看</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<style>
  img {
    object-fit: contain;
    max-width: 100%;
  }

  .primary-image {
    height: 300px;
  }

  .images {
    height: 150px;
  }
</style>
<!-- 可以嘗試將 JS 程式碼拆分成獨立的檔案，再引入到 HTML 檔案中 -->
<script src="./week1_assignment.js" type="module"></script>
